
#slider {
	.cover-title {
		@apply p-0 m-0 grid max-h-100vh ;
		grid-template-rows: 1fr 2fr 2fr;
		grid-template-areas: "title" "text" "text" "text";
		* {margin: 0;}
		div { @apply flex-col-center w-screen h-100% p-x-i2.5; }
		div:nth-child(1) {

			@apply area-title;
			h1 { @apply fz-i2 font-bold; }
			h2 { @apply fz-i1.5 font-bold; }
			h3 { @apply fz-i1.3 font-bold; }
			p { @apply fz-i1 font-base; }
			img { @apply hidden; }

		}
		div:nth-child(2) {

			@apply area-text;
			h1 { @apply fz-i1.5 font-bold; }
			h2 { @apply fz-i1.3 font-bold; }
			h3 { @apply fz-i1.1 font-bold; }
			p { @apply fz-i1 font-200; }
			img { @apply h-60vh rounded-lg; }

		}
	}
}
