.draggble {
	@apply p-5 rounded-3xl flex-center;
	@apply border-7 border-blue-500 border-dashed;
	@apply hover:border-blue-300 hover:bg-blue-50;
	@apply w-50vw h-50vh;
	font-family: Roboto;
	font-weight: 900;
	font-size: 1.1rem;

	&-invalid {
		@apply border-red-500 hover:border-red-300 bg-red-300 hover:bg-red-50;
	}
	&-valid {
		@apply border-green-500 hover:border-green-300;
	}
}
