@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
	--index: calc(calc(100vh + 100vw) / 100);
}

@mixin font-index($size) {
	font-size: calc(var(--index) * $size); 
	line-height: calc(calc(var(--index) * $size) * 1.25);
}

@mixin property-size($property, $value) {
	#{$property}: calc(var(--index) * $value);
}

* {
	box-sizing: border-box;
	font-family: "Roboto";
}
//
// @import "./style/textCenter";
// @import "./style/coverSheet";
// @import "./style/coverTitle";
// @import "./style/titleOnly"
